@{
    ViewData["Title"] = "Return & Refund Policy";
}

<div class="breadcrumb-block style-shared">
    <div class="breadcrumb-main overflow-hidden" style="background: url('assets/images/AboutUs_bg.png'); background-size:cover; margin-top:5rem;height: 340px;">
        <div class="container lg:pt-[134px] pt-24 pb-10 relative">
            <div class="main-content w-full h-full flex flex-col items-center justify-center relative z-[1]">
                <div class="text-content">
                    <div class="heading2 text-center">Return & Refund Policy</div>
                    <div class="link flex items-center justify-center gap-1 caption1 mt-3">
                        <a href='@Url.Action("Index","Home")'>Homepage</a>
                        <i class="ph ph-caret-right text-sm text-secondary2"></i>
                        <div class='text-secondary2 capitalize'>Return & Refund Policy</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-AllProducts pt-14" style="padding-bottom:4rem;">
    <div class="">
        <div class="heading5">Return Flexibility:</div>
        <div class='text-secondary2 pt-1' style="font-size:20px;">You have a 7-days window from the purchase date to initiate a return for your tech product.</div>
    </div>
    <div class="pt-6">
        <div class="heading5">Fair Verification Process:</div>
        <div class='text-secondary2 pt-1' style="font-size:20px;">For a fair deal, we check returned items before issuing refunds. Your money will be returned once we confirm the product's condition.</div>
    </div>
    <div class="pt-6">
        <div class="heading5">Quality Assurance:</div>
        <div class='text-secondary2 pt-1' style="font-size:20px;">We thoroughly inspect returned items for any signs of damage. Refunds won't be issued for broken or visibly worn products.</div>
    </div>
    <div class="pt-6">
        <div class="heading5">Defective Or Incorrect Product:</div>
        <div class='text-secondary2 pt-1' style="font-size:20px;">If you receive a defective or incorrect product, connect with our customer support for a immediate response.</div>
    </div>
    <div class="pt-6">
        <div class="heading5">Defective Or Incorrect Product:</div>
        <div class='text-secondary2 pt-1' style="font-size:20px;">If you receive a defective or incorrect product, connect with our customer support for a immediate response.</div>
    </div>
</div>